body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 10px 0;
    width: 100%;   
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: auto;
    

}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 2px;
}

nav ul li a:hover {
    background-color: white;
    color: #0056b3;
    border-radius: 2px;
    

}

a.active {
    color: #d3d3d3;
    border-bottom: solid #d3d3d3 2px;
}

#hero {
    position: relative;
    width: 100%;
    height: 85vh;
    color: #fff;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


span {
    font-size: 38px;
    color: #ffd700;
    text-shadow: 0 0 10px #000000;
}



.container, .hero-x {
    width: 100vw;
    height: 80vh;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}
.hero-x{
    background-image: url('./Images/woodclad2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: auto;
    height: 150px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}

.hero-x h1 { 
    color:#fff; 
    
}

.wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    opacity: 0;
    object-fit: cover;
    animation: slideAnimation 20s infinite ease-in-out;
}


.wrapper img:nth-child(1) {
    animation-delay: 0s;
}

.wrapper img:nth-child(2) {
    animation-delay: 5s;
}

.wrapper img:nth-child(3) {
    animation-delay: 10s;
}

.wrapper img:nth-child(4) {
    animation-delay: 15s;
}

@keyframes slideAnimation {
    0%, 25%, 100% {opacity: 1;
    }
    30%, 95% {opacity: 0;
    }

    
}

.hero-content {
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    
}


/* -------- cta buton ---------*/


.cta {
    margin: 20px auto;
    border: none;
    background: none;
    width: 200px;
}

.cta-button {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: capitalize;
    
}

.cta-button:hover {
    padding: 4px 8px;
    margin: 4px;
    color: #8b4513;
    background-color: #ffd700;
    
}

/*  ---  SECTION  ---  */

section {
    padding: 20px 30px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

section a, section a p {
padding: 4px 8px;
margin: 4px;
text-decoration: none;
color: inherit;

}

.service, .service-detail, .gallery-item, blockquote, form {
    margin-bottom: 20px;
}


/*  ---  SERVICES  ---  */
#services {
margin: 20px 35px;

}

.service-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


.service-home {
text-align: left;
background-color: #d3d3d3;
margin: 5px;
width: 250px;
padding: 15px;
margin: 4px 2px;
vertical-align: text-top;
border-radius: 15px;
box-shadow: 0 0 5px #333;
}

.service-detail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.service h3, h4 {
    color: #0056b3;
}

/*  ---  GALLERY HOME PAGE  ---  */

#gallery-link {
background-image: url('Images/kitchen1.jpg');
background-size: cover;
margin: auto;
width: auto;
height: 80vh;
background-position: center;

}

#gallery-link p {
    position: relative;
    text-align: center;
    top: 85%;
    padding: 8px;
    color: #fff;
    background-color: #0056b3;
    border-radius: 2px;
    width: auto;
}

/*  ---  GALLERY PAGE ---  */
#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* grid-auto-flow: column;
    grid-auto-columns: 80%; */
   
    /* overscroll-behavior-inline: contain; */
    /* border-bottom: 2px solid #0056b3; */
}

.snap-inline {
    scroll-snap-type: inline mandatory;
}

.snap-inline > * {
    scroll-snap-align: start;
}

.gallery-item {
    border: 0 1px solid #0056b3;
    margin: 10px;
} 

.gallery-item img {
    margin: 0;
    padding: 0;
    border-radius: 0;
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 300px;
    height: 400px;
}

#image-viewer {
    position: fixed;
    inset: 0; 
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    z-index: 9999;
}

#image-viewer.open {
    opacity: 1;
    pointer-events: auto;
}

#viewer-img {
    max-width: 90%;
    max-height: 90%;
    user-select: none;
}

#viewer-close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    user-select: none;
}

/* arrow */

.viewer-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 5px 10px;
    background: rgba(0,0,0,0.4);
    border-radius: 8px;
    transition: background 0.2s;
}

.viewer-arrow:hover {
    background: rgba(0,0,0,0.7);
}

#viewer-prev {
    left: 20px;
}

#viewer-next {
    right: 20px;
}


    
/*  ---  HISTORY PAGE ---  */

#history {
    background-color: #f9f9f9;
}
#historyx {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0 0 20px 0;
}


/*  ---  ABOUT PAGE ---  */

#about {
    margin: 20px 20px;
}

/*  ---  CONTACT/FORM PAGE---  */

.form-g {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
    margin: 0 auto;
}

.form-g h2 {
    text-transform: capitalize;
    text-align: left;
    ;
}

.form-g h3 {
    color: #0056b3;
    text-align: left;
}

.part-1 {
    max-width: 500px;
}

.part-2 {
    max-width: 700px;
}

.form-group input {
 width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    margin: 0;
    
}

form label {
    margin-top: 10px;
    
}

form input, form textarea {
    text-align: left;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #ccc;
    border: none;
    border-bottom: 2px solid #ffd700;
}

form button {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #ffd700;
}

footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 10px 0;
}



.bg-clad {  
    height: auto;
    background-image: url('../shs/Images/woodclad1.jpg'); 
    background-size: cover;
    background-position: center;
    background-color: #8b4513;

}
.bg-clad p, .bg-clad h1 {
    color: #fff;
}

.div-section {
    padding: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.p-10 {
    padding: 10px;
    
}

.space-evenly {
    justify-content: space-evenly;
}

.align-evenly {
    margin: 5px 0;
}

.dark-bg {
    background-color: #ccc;
}

#testimonials {
    margin: 0;
    padding: 0;
    width: 100%;
}


.b-left {
    border-left: 2px solid #ffd700;
}

.sect-bb2 {
    border-bottom: 3px solid #ffd700;
}

.sect-bt {
    border-top: 3px solid #ffd700;
}

.sect-bb {
    /* border-bottom: 3px solid #8b4513; */
    /* width: 20%; */
    text-align: center;
    /* margin: 0 auto */
}

.section-padding {
    padding: 45px 0;
}

.sect-bbo {
    border-bottom: 2px solid #8b4513;
}

.parag {
    max-width: 800px; 
    justify-content:center; 
    font-size: 24px; 
    color: #0056b3; 
    margin: 0 auto;
}

.left {
    text-align: left;
}
